@tailwind base;
@tailwind components;
@tailwind utilities;
.upload-box {
    background: #1f2937;
    padding: 15px 25px;
    border-radius: 12px;
    border: 2px solid #fbbf24;
    cursor: pointer;
    font-weight: bold;
    color: #fbbf24;
    transition: 0.2s;
}
.upload-box:hover {
    background: #fbbf24;
    color: black;
}
.active-range {
    border: 3px solid #fbbf24;
    box-shadow: 0 0 15px #fbbf24;
}